<div class="rating" data-post-id="{{ post.id }}">
    <i class="fa fa-long-arrow-up like" aria-hidden="true"></i>
    <div class="rating-value">
        {% if post.ratingPost > 0 %}
            <span class="text-success">+{{ post.ratingPost }}</span>
        {% elseif post.ratingPost < 0 %}
            <span class="text-danger">{{ post.ratingPost }}</span>
        {% else %}
            <span>{{ post.ratingPost }}</span>
        {% endif %}
    </div>
    <i class="fa fa-long-arrow-down dislike" aria-hidden="true"></i>
</div>