{% extends 'user_template.html.twig' %}

{% block body%}
    <div class="auth">
        <h2>Change password in to Symfony-Blog</h2>

        {% for message in app.flashes('error_email') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('success_email') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6">
                <form action="{{ path('get_token') }}" method="post">
                    <div class="form-group">
                        <label for="email">Write email user</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-primary">Change password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}