{% extends 'user_template.html.twig' %}

{% block body%}
    <div class="auth">
        <p>User {{ user.email }} successfully registered</p>
        <a href="{{ path('login') }}" class="btn btn-secondary" role="button">Go to Sing in</a>
    </div>
{% endblock %}